<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pedido-heading" data-cy="PedidoCreateUpdateHeading">Create or edit a Pedido</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dataPedido">Data Pedido</label>
          <div class="input-group">
            <input
              id="field_dataPedido"
              data-cy="dataPedido"
              type="text"
              class="form-control"
              name="dataPedido"
              ngbDatepicker
              #dataPedidoDp="ngbDatepicker"
              formControlName="dataPedido"
            />
            <button type="button" class="btn btn-secondary" (click)="dataPedidoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('dataPedido')!.invalid && (editForm.get('dataPedido')!.dirty || editForm.get('dataPedido')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('dataPedido')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_valorTotal">Valor Total</label>
          <input
            type="number"
            class="form-control"
            name="valorTotal"
            id="field_valorTotal"
            data-cy="valorTotal"
            formControlName="valorTotal"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
